.sessions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .session {
    display: flex;
    justify-content: space-between;
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    .trash-button {
      padding: 0;
      margin-left: 10px;
      cursor: pointer;
      img {
        height: 20px;
      }
      &:hover {
        filter: brightness(2);
      }
    }
  }
}
